@tailwind base;
@tailwind components;
@tailwind utilities;


/* Font-face declarations */
@font-face {
  font-family: 'Poppins-Regular';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}

/* (Optional) You can add base layer or global styles here */
@layer base {
  /* For example, set your default app font to Poppins */
  html, body {
    font-family: 'Poppins-Regular', sans-serif;
  }

  [data-theme="fantasy"] {
    /* Example: custom color override or variable if needed */
  }

  [data-theme="black"] {

  }
}
